<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Show-All Contact Page</title>
</head>
<body>
	<section>

		<div class="card mr-5 ml-3">
			<div class="card-body">
				<h1 class="text-center">Your Contacts</h1>
				<!-- Search -->
				<div class="search-container my-3">
					<input onkeyup="search()" id="search-input" type="text"
						class="form-control" placeholder="Search Your Contacts" />
					<div class="search-result">
						<!-- Search Result Here -->
						<h1>This is the Result</h1>
					</div>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col">Delete</th>
							<th scope="col">Update</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c :${contacts}">
							<td th:text="'SCMCONTACT'+${c.cId}"></td>
							<td><img class="my_profile_picture" alt="profile_image"
								th:src="@{'/image/'+${c.imageURL}}"> <span
								th:text="${c.name}"></span></td>
							<td><a th:href="@{'/user/'+ ${c.cId}+'/contact'}"> <span
									th:text="${c.email}"></span>
							</a></td>
							<td th:text="${c.phone}"></td>
							<td><a href="#" th:onclick="|deleteContact(${c.cId})|"
								class="btn btn-danger btn-sm">Delete</a></td>
							<td>
								<form method="post" th:action="@{'/user/update-contact/'+${c.cId}}" class="">
									<button type="submit" class="btn btn-primary btn-sm">Update</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- Pagination Part -->
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li th:if="${currentPage != 0}" class="page-item"><a
							class="page-link"
							th:href="@{'/user/show_contacts/'+${currentPage-1}}">Previous</a></li>
						<li th:classappend="${currentPage==i-1?'active':''}"
							th:each="i : ${#numbers.sequence(1,totalPages)}"
							class="page-item"><a class="page-link"
							th:href="@{'/user/show_contacts/'+${i-1}}"><span
								th:text="${i}"></span></a></li>
						<li th:if="${currentPage+1 != totalPages}" class="page-item"><a
							class="page-link"
							th:href="@{'/user/show_contacts/'+${currentPage+1}}">Next</a></li>
					</ul>
				</nav>
			</div>
		</div>

	</section>

</body>
</html>