<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Singup Page!</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card mt-2">
					<div th:if = "${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
  						<p class="text-center" th:text="${session.message.content}"></p>
  						<th:block th:text="${#session.removeAttribute('message')}"></th:block>
					</div>
						<div class="container text-center">
							<img class="" style="width: 80px" src="" th:src="@{/image/signupphoto.png}">
						</div>
						<h1 class="text-center">Register Here</h1>
						<form action="" th:action="@{/do_register}" method="post" th:object="${user}">
							<!-- name field -->
							<div class="mb-3">
								<label for="name_field" class="form-label">Your
									Name</label>
									<input 
										name="username"
										type="text" 
										class="form-control"
										id="name_field" 
										aria-describedby="emailHelp" 
										placeholder="Enter Here"
										required="required"
										th:value="${user.username}"/>
								
							</div>
							<!-- Email field -->
							<div class="mb-3">
								<label for="email_field" class="form-label">Your
									Email</label>
									<input 
										name="email"
										type="email" 
										class="form-control"
										id="email_field" 
										aria-describedby="emailHelp" 
										placeholder="Enter Here"
										required="required"
										th:value="${user.email}"/>
								
							</div>
							<!-- Password field -->
							<div class="mb-3">
								<label for="password_field" class="form-label">Your
									Password</label>
									<input 
										name="password"
										type="password" 
										class="form-control"
										id="password_field" 
										aria-describedby="emailHelp" 
										placeholder="Enter Here"
										required="required"
										/>
								
							</div>
							<!-- About Field -->
							<div class="form-group">
								<textarea name="about" th:value="${user.about}" placeholder="Enter About Yourself"  rows="4" class="form-control"></textarea>
							</div>
							<!-- term and condition agreement -->
							<div class="form-group form-check r">
								<input type="checkbox"
								name="agreement"
								class="form-check-input"
								id="agreement" />
								<label for="agreement">Accept terms and condition</label>
							</div>
							<br>
							<div class="container text-center">
								<button type="submit" class="btn bg-primary text-white">
									Submit
								</button>
								<button type="reset" class="btn bg-warning text-white">
									Reset
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>